.resume-container {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
  } 
}
