html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #120707, #783030);
  /* background-color: blue; */
  color: white;
}

body{
  overscroll-behavior-y: none;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

.course{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  .box{
    width: 200px;
    height: 200px;
    background-color: white;
  }
}